import { Command } from '../decorators/command.decorator';
import { BaseCommand } from './Base.command';

@Command({ name: 'command_name' })
class class_nameCommand extends BaseCommand {
	execute() {
		return 'class_name command, run with command_name';
	}
}

export default new class_nameCommand();
