import { Command } from '../decorators/command.decorator';
import { BaseCommand } from './Base.command';

@Command({ name: 'command_name'set_prefix })
class class_nameCommand extends BaseCommand {
	execute() {
		return {
			message: `class_name command, run with command_name`,
			delete: false,
		};
	}
}

export default new class_nameCommand();
